
/* RESPONSIVE DESIGN FOR MOBILE */

@media (250px <= width <=600px) {

    .body {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
    }

    .main {
        width: 100%;
    }

    section {
        padding: none;
    }


    /* HOMEPAGE | MOBILE */
    
    .corrupt-title {
        margin-right: auto;
        margin-left: 0;
        height: 6rem;
        color: var(--clr-light);
    }

    .intro {
        display: block;
        text-align: center;
        width: 100%;
        }

    .intro__title {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .more-details-intro__text {
        font-size: 3rem;
    }

    .more-details__text {
        margin: 0%;
    }


    /* NAVBAR MOBILE */

    .navbar {
        height: 90%;
        width: 75%;
    }



    .services_to_contact__link {
        font-size: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .meet-the-team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* ABOUT US | MOBILE */

    .about__title {
        font-size: 3rem;
    }

    .about__intro-text {
        font-size: 1.5rem;
        width: 100%;
        padding: 3rem;
    }

    .about__grid-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 5rem auto;
        width: 20rem;
    }
    .about__grid-item {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;
    }
    .headshot__img {
        width: 15rem;
        height: 15rem;
    }
    .team-member__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.2rem;
    }
    .team-member__text h2, 
    .team-member__text h3, 
    .team-member__text p {
        margin: 0.5rem 0;
    }

     /* CONTACT US | MOBILE */

     .contact__body {
        background-image: url(img/contactbackgroundformobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--clr-light);
    }
    .contact__main {
        font-size: 2rem;
        padding: 2rem;
    }
    .contact__title {
        margin-top: 150px;
        text-align: center;
    }
    .contact__intro-text {
        margin: none;
        font-size: 2rem;
        width: 240px;
        text-align: center;
    }
    
    .contact-form {
        max-width: 300px; 
        margin: 1rem;
        padding: 2px 2px;
        border: 0.2rem solid var(--clr-light);
        border-radius: 8px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        font-size: 1rem;
    }
    .message__label {
        align-self: center;
    }
    
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form select,
    .contact-form textarea {
      width: 60%; 
      padding: 10px; 
      margin-bottom: 15px; 
      border: 0.2rem solid var(--clr-light);
      border-radius: 4px; 
      background-color: var(--clr-dark);
      color: var(--clr-light);
    }

    input[type="submit"] {
        font-size: 1rem;
    }
    
    .contact-form select {
        width: 60%; 
        text-align: end;
    }
    
    .contact-form textarea {
      height: 150px; 
      resize: vertical; 
    }
    
    .contact-form input[type="submit"],
    .contact-form button {
      width: 40%; 
      padding: 5px 10px; 
      background-color: var(--clr-red); 
      color: var(--clr-light);
      border: none; 
      border-radius: 4px; 
      cursor: pointer; 
      display: inline-block; 
      margin: 2rem auto; 
    }
    
    .contact-form input[type="submit"]:hover,
    .contact-form button:hover {
      background-color: var(--clr-dark) /* Darker shade on hover */
    }

     /* SERVICES | MOBILE */

     .services__body {
        background-image: url(img/servicesbackgroundformobile.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .services__intro {
        margin: 2rem auto;
        color: var(--clr-light);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
    }
    .services__intro__title {
        margin-top: 3rem;
        font-size: 3rem;
    }
    
    .services__main {
        color: var(--clr-light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .services__intro__text {
        margin: 1rem auto;
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }
    .services__grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 2rem;
        margin: 4rem auto;  
        width: 85%;
    }
    .services__grid-item {
        border: 2px solid var(--clr-light);
        border-radius: 1rem;
        padding: 2.5rem 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .services__grid-item:hover {
        border: 2px solid var(--clr-red);
    }
    
    .get__in__touch {
        color: var(--clr-red);
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 2rem auto;
    }
    .services_to_contact__link {
        color: var(--clr-red);
    }

}
   

@media (601px <= width <=900px) {

    .about__title {
        font-size: 2rem;
        text-align: left;
    }

    .about__intro-text {
        font-size: 1.5rem;
        width: 600px;
        text-align: left;
    }

    .about__grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 2rem;
        width: 10rem;
    }
    .about__grid-item {
        display: grid;
        gap: 1rem;
    }
    .headshot__img {
        width: 20rem;
        height: 20rem;
    }
    .team-member__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
}


  /* Overriding Custom Properties when there is a larger screen */

@media (max-width: 950px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}