/* Custom Properties */
:root {
--ff-primary: "Noto Sans Telugu", sans-serif;

--fw-reg: 300;
--fw-bold: 600;

--clr-light: #F4F1DE;
--clr-dark: #080607;
--clr-accent: #dea4de;
--clr-red: #ec2228;

--fs-h1: 3rem;
--fs-h2: 2.25rem;
--fs-h3: 1.5rem;
--fs-body: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(img/homepagebackground.png);
    color: var(var(--clr-dark));
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

strong { font-weight: var(--fw-reg) }

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

/* HEADER, including logo + nav bar */

.header {
    display: flex;
    align-items: center;
    margin: 0rem 1.5rem;
    /* transform: translate(-2rem, -2rem); */
    font-size: var(--fs-h1);
    color: var(--clr-light);
}
.corrupt-title {
    margin-right: auto;
    margin-left: 0;
    height: 6rem;
    color: var(--clr-light);
}
.corrupt-logo {
    width: 5rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}

.logo {
    max-width: 300px;
}

.open-nav {
    font-size: var(--fs-h3);
    color: var(--clr-light);
    cursor: pointer;
    z-index: 1;
}
.burger-line {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--clr-light);
    margin: 0.5rem;
    cursor: pointer;
}
.navbar {
    height: 100%;
    width: 25%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--clr-dark);
    /* opacity: 0.95;
    transition: 5s; */
    z-index: 1;
    display: none;
    flex-direction: column;
}
.close-nav {
    cursor: pointer;
    position: relative;
    background-color: var(--clr-dark);
    margin: 2rem 1.5rem;
    float: right;
    height: 3rem;
    width: 4rem;
}
.close-nav:before {
    content: '';
    height: 3rem;
    border-left: 0.2rem solid var(--clr-light);
    position: absolute;
    transform: rotate(45deg);
    left: 2rem;
}
.close-nav:after {
    content: '';
    height: 3rem;
    border-left: 0.2rem solid var(--clr-light);
    position: absolute;
    transform: rotate(-45deg);
    left: 2rem;
}
.nav__items {
    margin-top: 8rem;
}
.nav__items a {
    list-style-type: none; 
    display: block;
    padding: 1rem;
    margin: 0 1.5rem;
    float: right;
    font-size: var(--fs-h2);
    font-family: var(--ff-primary);
    text-decoration: none;
    color: var(--clr-light);
    font-family: var(--ff-primary)
}
.nav__link {
    text-decoration: none;
}

.nav-iframe {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: pink;
}

/* FOOTER, including social media icons + Get in Touch */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--clr-light);
    font-size: 1.2rem;
}
.footer a {
    color: var(--clr-light);
}
.footer a:hover {
    color: var(--clr-red)
}
.footer ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}
.social-list__item {
    transform: scale(1.5);
}

/* HOME PAGE */

.intro {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    }

.intro__title {
    color: var(--clr-light);
}
.intro span {
    text-decoration: underline var(--clr-red);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.more-details {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    color: var(--clr-light);
}
.more-details-intro__text {
    text-align: center;
    margin: 1rem 0;

}
.more-details__text {
    text-align: center;
    margin: 5rem;
    font-size: 1.2rem;
}

.services__contact__link { 
    border-radius: 10px;
    width: fit-content;
    padding: 1rem 2.5em;
    margin: auto;
    margin-top: 2rem;
    color: var(--clr-red);
    background-color: none;
    text-decoration: none;
    font-size: var(--fs-h2);    
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    text-decoration: underline var(--clr-red);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    /* transition: transform 200ms ease-in-out; */
}
.homepagebutton :hover {
    cursor: pointer;
}

.button :hover {
    transform: scale(1.1);
}

/* SERVICES PAGE */

.services__body {
    background-image: url(img/servicesbackgroundv2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.services__intro {
    margin: 2rem auto;;
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0;
}
.services__intro__title {
    margin-top: 20rem;
}

.services__main {
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.services__intro__text {
    margin: 1rem auto;
}
.services__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 2rem;
    margin: 4rem auto;  
    width: 85%;
}
.services__grid-item {
    border: 2px solid var(--clr-light);
    border-radius: 1rem;
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
}
.services__grid-item:hover {
    border: 2px solid var(--clr-red);
}

.get__in__touch {
    color: var(--clr-red);
    text-decoration: none;
    font-size: var(--fs-h2);
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 4rem auto;
}
.services__contact__link {
    color: var(--clr-red);
}

/* ABOUT US */

.about__body {
    background-color: var(--clr-dark);
    background-image: url(img/AboutUsBackgroundv2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.meet-the-team {
    display: block;
    text-align: center;
    margin: 25rem auto 3rem auto;
    padding: 0;
    color: var(--clr-light);
}

.about__title {
    margin: 4rem;
    font-size: var(--fs-h1);
}
.about__intro-text {
    margin: 2rem auto;
    width: 70rem;
    font-size: var(--fs-h2);
}
.about__grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 2rem;
    margin: 5rem auto;
    width: 60rem;
}
.about__grid-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
}
.headshot__img {
    width: 20rem;
    height: 20rem;
}
.team-member__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.2rem;
}
.team-member__text h2, 
.team-member__text h3, 
.team-member__text p {
    margin: 0.5rem 0;
}

/* CONTACT PAGE */

.contact__body {
    background-image: url(img/contactbackgroundv2.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--clr-light);
}
.contact__main {
    font-size: var(--fs-h2);
    padding: 12rem 4rem 6rem 4rem;
}
.contact__title {
    margin: 4rem auto;
}
.contact__intro-text {
    margin: 2rem auto;
    width: 70rem;
    font-size: var(--fs-h2);
}

.contact-form {
    max-width: 800px; 
    margin: 3rem auto; 
    padding: 20px 30px;
    border: 0.2rem solid var(--clr-light);
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
}
.message__label {
    align-self: baseline;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
  width: 60%; 
  padding: 10px; 
  margin-bottom: 15px; 
  border: 0.2rem solid var(--clr-light);
  border-radius: 4px; 
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.contact-form select {
    width: 60%; 
    text-align: end;
}

.contact-form textarea {
  height: 150px; 
  resize: vertical; 
}

.contact-form input[type="submit"],
.contact-form button {
  width: 40%; 
  padding: 10px 20px; 
  background-color: var(--clr-red); 
  color: var(--clr-light);
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  display: inline-block; 
  margin: 2rem auto; 
}

.contact-form input[type="submit"]:hover,
.contact-form button:hover {
  background-color: var(--clr-dark) /* Darker shade on hover */
}


/* RESPONSIVE DESIGN FOR MOBILE */

@media (300px <= width <=600px) {
    .body {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
    }

    .main {
        width: 100%;
    }

    /* HOMEPAGE | MOBILE */
    
    .corrupt-title {
        margin-right: auto;
        margin-left: 0;
        height: 6rem;
        color: var(--clr-light);
    }

    .intro {
        display: block;
        text-align: center;
        width: 100%;
        }

    .intro__title {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .more-details-intro__text {
        font-size: 3rem;
    }

    .more-details__text {
        margin: 0%;
    }

    .navbar {
        height: 100%;
        width: 25%;
        position: fixed;
        right: 0;
        top: 0;
        background-color: var(--clr-dark);
        z-index: 1;
        display: none;
        flex-direction: column;
    }

    section {
        padding: none;
    }

    .services__contact__link {
        font-size: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .meet-the-team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* ABOUT US | MOBILE */

    .about__title {
        font-size: 3rem;
    }

    .about__intro-text {
        font-size: 1.5rem;
        width: 100%;
        padding: 3rem;
    }

    .about__grid-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 5rem auto;
        width: 20rem;
    }
    .about__grid-item {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;
    }
    .headshot__img {
        width: 15rem;
        height: 15rem;
    }
    .team-member__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.2rem;
    }
    .team-member__text h2, 
    .team-member__text h3, 
    .team-member__text p {
        margin: 0.5rem 0;
    }

     /* CONTACT US | MOBILE */

     .contact__body {
        background-image: url(img/contactbackgroundformobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--clr-light);
    }
    .contact__main {
        font-size: 2rem;
        padding: 2rem;
    }
    .contact__title {
        margin-top: 150px;
        text-align: center;
    }
    .contact__intro-text {
        margin: none;
        font-size: 2rem;
        width: 240px;
        text-align: center;
    }
    
    .contact-form {
        max-width: 300px; 
        margin: 1rem;
        padding: 2px 2px;
        border: 0.2rem solid var(--clr-light);
        border-radius: 8px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        font-size: 1rem;
    }
    .message__label {
        align-self: center;
    }
    
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form select,
    .contact-form textarea {
      width: 60%; 
      padding: 10px; 
      margin-bottom: 15px; 
      border: 0.2rem solid var(--clr-light);
      border-radius: 4px; 
      background-color: var(--clr-dark);
      color: var(--clr-light);
    }

    input[type="submit"] {
        font-size: 1rem;
    }
    
    .contact-form select {
        width: 60%; 
        text-align: end;
    }
    
    .contact-form textarea {
      height: 150px; 
      resize: vertical; 
    }
    
    .contact-form input[type="submit"],
    .contact-form button {
      width: 40%; 
      padding: 5px 10px; 
      background-color: var(--clr-red); 
      color: var(--clr-light);
      border: none; 
      border-radius: 4px; 
      cursor: pointer; 
      display: inline-block; 
      margin: 2rem auto; 
    }
    
    .contact-form input[type="submit"]:hover,
    .contact-form button:hover {
      background-color: var(--clr-dark) /* Darker shade on hover */
    }

     /* SERVICES | MOBILE */

     .services__body {
        background-image: url(img/servicesbackgroundformobile.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .services__intro {
        margin: 2rem auto;
        color: var(--clr-light);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
    }
    .services__intro__title {
        margin-top: 3rem;
        font-size: 3rem;
    }
    
    .services__main {
        color: var(--clr-light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .services__intro__text {
        margin: 1rem auto;
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }
    .services__grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 2rem;
        margin: 4rem auto;  
        width: 85%;
    }
    .services__grid-item {
        border: 2px solid var(--clr-light);
        border-radius: 1rem;
        padding: 2.5rem 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .services__grid-item:hover {
        border: 2px solid var(--clr-red);
    }
    
    .get__in__touch {
        color: var(--clr-red);
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 2rem auto;
    }
    .services__contact__link {
        color: var(--clr-red);
    }

}
   



  /* Overriding Custom Properties when there is a larger screen */

@media (max-width: 950px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}